<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMIM</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <div>

        <header class="bg-[#56B6CC] p-4 flex items-center justify-between">
            <section class="w-full">
                <nav style="background-color: #56b6cc;" class="flex flex-wrap items-center justify-between px-4 py-2">
                    <!-- Logo -->
                    <div class="flex items-center">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/images/logo_sin_fondo.png" alt="logo" class="h-16 w-auto p-2 cursor-pointer">
                        </a>
                    </div>

                    <!-- Barra de búsqueda -->
                    <form class="relative w-full max-w-md my-2" action="/buscar" method="GET">
                        <input name="query" type="search" placeholder="Buscar productos..."
                            class="shadow-lg border-gray-300 px-5 py-3 rounded-xl w-56 transition-all focus:w-64 focus:outline-none focus:ring-2 focus:ring-[#13678A]"
                            required />
                        <button type="submit" class="absolute top-3 ml-[-30px]">
                            <svg class="size-6 text-gray-500" stroke="currentColor" stroke-width="1.5"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                                    stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </form>

                    <!-- Enlaces y botones -->
                    <div class="flex items-center gap-2">
                        <a class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center transition-transform duration-200 hover:scale-110"
                            asp-controller="Account" asp-action="Login">
                            Iniciar
                        </a>

                        <a class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center transition-transform duration-200 hover:scale-110"
                            asp-controller="Account" asp-action="Register">
                            Registrarse
                        </a>

                        <!-- Icono de menú -->
                        <button id="toggle-menu"
                            class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center transition-transform duration-200 hover:scale-110">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>

                    </div>
                </nav>
            </section>
            <section>
                <!--CONTENIDO DEL MENU-->
                <div id="menu" class="menu-container bg-[#A9C8CF] rounded-lg shadow-lg flex-col md:flex-row items-center justify-center w-1/5 absolute top-20 right-1 z-20 
    transition-all duration-300 ease-in-out transform opacity-0 scale-95 hidden">
                    <div class="flex flex-col items-center justify-center">
                        <b class="font-bold mb-2">Configuraciones</b>
                        <hr class="mb-2">
                        <a class="hover:text-gray-700 mb-1" asp-controller="Store" asp-action="CreateStore">Crear
                            tienda</a>
                        <a class="hover:text-gray-700 mb-1" href="@Url.Action("EditProfile", "User")">Actualizar
                            datos</a>
                        <a class="hover:text-gray-700 mb-1" href="@Url.Action("#", "Account")">Mis pedidos</a>
                        <a class="hover:text-gray-700 mb-1" href="@Url.Action("Reviews", "General")">Mis reseñas</a>
                        <a class="hover:text-gray-700 mb-1" href="@Url.Action("Help", "General")">Necesito ayuda</a>
                        <hr class="my-2">
                        <i class="text-gray-700">
                            <a class="hover:text-gray-700" href="@Url.Action("Login", "Account")">Cerrar sesión</a>
                        </i>
                    </div>
                </div>

            </section>
        </header>


        <main role="main">
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - EmimIndex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
